<div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
<form   #searchForm='ngForm' >
        <label for="username"></label>
        <input class="form-control form-control-lg" type="text" placeholder="Username" type="text" id='username' name='username' [(ngModel)]='username'>   
</form>

<button type="submit" class="btn btn-outline-secondary btn-lg" (click)= getUser()>Search</button>
<div *ngIf = 'user'>
    <h1>Brenda Wanjiku <span class="badge badge-secondary">Coder</span></h1>
    <div class="row">
     <img src="{{user.avatar_url}}" class="img-circle" img="responsive" alt="profileImg">
     <div class ="panel-body">
        <p> name {{user.login}}</p> 
            <p>followers {{user.followers}}</p> 
                <p>following {{user.following}}</p> 
                    <p>public repos {{user.public_repos}}</p> 
                    <button>{{user.repos_url}}</button>
        </div>
    </div>
</div>
</div>
<hr>
<hr>
<hr>

<div class="card">
    <div>
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text">Username {{profile.login}}</p>
      <p class="card-text">Username {{profile.followers}}</p>
      <p class="card-text">Username {{repository.name}}</p>
    </div>
  </div>
</div>



